/*=========== Button CSS ==========*/

.boxed-btn {
    background-color: #3452ff;
    color: #FFF;
    font-family: $secondary-font;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 40px;
    box-shadow: 0 -3px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0,0,0,0.1) inset;
    -o-box-shadow: 0 -3px rgba(0,0,0,0.1) inset;
    &:hover{
        color: #FFF;
    }
}

